.main-container {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 144rem;

    /*.main-image {
        background-image: url(../images/background.png);
        background-repeat: no-repeat;
        height: 70rem;
        background-size: 100%;
    }*/
}