include libs/_libs

header
    .site-header
        .site-header__logo
            img(src=require('./images/logo.png') alt='Лого Сайта')
        nav.site-header__nav.site-nav
            a.site-nav__link(href='#') О нас
            a.site-nav__link(href='#') Услуги
            a.site-nav__link(href='#') Вакансии
            a.site-nav__link(href='#') Новости
            a.site-nav__link(href='#') Соглашения
            button.site-header__button-enter Войти
            button.site-header__button-reg Зарегистрироваться
